@import "./global.css";
@import "./products.css";
@import "./table.css";
@import "./form.css";
@import "./images.css";
@import "./info.css";

.container-img {
    display: flex;
    justify-content: center;
}

.header-chat {
    padding: .5rem;
}


