{{>nav}}

<header class="header">
  <h1>
    Registrar
  </h1>
</header>

<div class="container style-form">
  <form onSubmit="addProduct();return false" class="form-post">
    <label for="title">Título:</label>
    <input type="text" name="title" id="title" />

    <label for="price">Precio:</label>
    <input type="number" step="0.01" name="price" id="price" />

    <label for="thumbnail">Thumbnail:</label>
    <input type="text" name="thumbnail" id="thumbnail" />

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

  <div class="container-button">
    <form action="/productos/" method="GET">
      <button type="submit" class="btn btn-primary">Ver Todos</button>
    </form>
  </div>

  {{>products}}

  {{>chat}}

</div>


