{{>nav}}

<header class="header">
  <h1 class="home">
    Almacen
  </h1>
</header>

<div class="container-img">
  <img src="./images/demiurgo.jpg" alt="Abraxas" width="333">
</div>

{{>listFaker}}


