{{>nav}}

<header class="header">
  <h1>
    Signup
  </h1>
</header>

<div class="col">
    <!-- Formulario -->
    <form method="POST" action="/signup">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="***********" required>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" class="form-control" placeholder="firstname" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" class="form-control" placeholder="lastname" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" placeholder="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
    </form>
</div>

