<form class="" action="/carrito/agregar/{{ this._id }}" method="POST">
    <input type="hidden" name="product_id" value="{{ this._id }}">
    <div class="">
        <button type="button" class="btn btn-info d-inline" id="remove">-</button>
        <input type="number" value="1" class="form-control col-sm-4 d-inline" id="quantity" name="quantity" readonly>
        <button type="button" class="btn btn-info d-inline" id="add">+</button>
    </div>

    <div class="mt-2">
        <button type="submit" class="btn btn-warning">Agregar al carrito</button>
        {{!-- <a href="/carrito/agregar/{{ this.id }}" class="btn btn-warning btn-cover">Agregar al carrito</a> --}}
    </div>
</form>