<form class="" action="/productos/remover/{{ this.id }}" method="GET">
    <input type="hidden" name="product_id" value="{{ this.id }}">
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>