<form class="" action="/carrito/remover/{{ this.item._id }}" method="GET">
    <input type="hidden" name="product_id" value="{{ this.item._id }}">
    <button type="submit" class="btn btn-link text-danger" style="padding:0;">Eliminar</button>
</form>
