<form class="" action="/productos/remover/{{ this._id }}" method="GET">
    <input type="hidden" name="product_id" value="{{ this._id }}">
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>